h1:not(.logo > h1)::after {
    margin-top: 0;
    content: '';
    display: block;
    width: 2.3em;
    height: 10px;
    background: #64b7f5;

}
h1:not(.logo > h1){
	padding-left: 5%;
	text-shadow: 1px 2px 2px #64b7f5;
}

h2{
  color: black;
}


/* partie template du site  */
nav > a {
	color: black;
	text-decoration:none;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 150%;
  transition: 0.50s;


}
nav > a:hover{
	color: white;
}
nav {
  position: relative;
	text-align: right;
	padding-right: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #64b7f5;
}
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
.logo{
	padding-left: 20px;
	padding-top: 10px;
	font-size: 1.4em;
}
.logo > h1{
	margin-bottom: 0;
}
#logoImg{
	border-radius: 5px;
}
/* profil container*/

#profilContainer{
	position: absolute;
	position: absolute;
  right:0;
	float: right;
	background-color: #64b7f5;
	padding-right: 5.7%;
  overflow: hidden;
  width: 195px;
  padding: 10px 50px 10px 50px;
  z-index: 10;
}
#profilContainer > a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  padding-top: 10px;
  padding-bottom: 10px;

}
#profilContainer > a:hover{
  transition: 0.50s;
	color: white;
}

#profil-button{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #64b7f5;
  font-size: 150%;
  border: solid 1px black;
  border-radius: 5px;
}
#profil-button:hover{
  color: black;
  background-color: white;
  border: solid 1px black;
  border-radius: 20px;
}
#profil-hamburger{
  border: none;
  background-color: #64b7f5;

}
#profil-hamburger > i {
  font-size: 2em;
  position: absolute;
  right: 40px;
  bottom: 5px;
  cursor: pointer;
}







.center-fit {
	padding-top: 5%;
  max-width: 40%;
  max-height: 80vh;
  margin: auto;
}
.encardrement{
	width: 40%;
	float: left;
	margin-right: 10%;
	font-size: 1.2em;
}
.imageBox{
padding: 40px;
padding-bottom: 100px;
float: right;

}
.encardrement >h3{
	font-size: 2em;
	margin: 0;
	text-shadow: 1px 2px 2px #64b7f5;

}
table, th, ts{
	   border: 1px solid black;
}

footer{
	background-color: #64b7f5;
	text-align:center;
	padding-bottom: 20px;


}
.droits{
	padding-top: 5px;
	margin-bottom: 10px;
}

.footer_links{
	padding-top: 10px;

}
.footer_links > a {
	text-decoration: none;
	color: black;
	padding-left: 2%;
	font-size: 1.4em;
  transition: 0.50s;

}
.footer_links > a:hover {
	text-decoration: none;
	color: white;

}
/* partie Cours du site  */
.result-container{
}

.lastCours{
padding-left: 10%;
padding-right: 10%;

}
.search-container{
  text-align: center;
}
#researchBar{
  font-size: 1.4em;
  text-align: center;
}


.appercuCours{
	position: relative;
	background-color: #8fcfffab;
	width: 30%;
	height: 130px;
	margin: 10px;
	float: left;
	border-radius: 5px;
	border: solid 1px #64b7f5;
	box-shadow: 2px 2px 5px #64b7f5;
	padding-left: 10px;
}
.ajoutButton{
	background-color: #fff0;
	border: solid 1px black;
	border-radius: 5px;
	position: absolute;
  right: 10px;
	bottom: 10px;
}
.ajoutButton:hover{
  box-shadow: inset 0 0 0 2em white;
}

button {
	 color: black;
	 transition: 0.50s;
   cursor: pointer;
}
 button:hover, button:focus {
	 border-color: black;
	 color: black;
}

.appercuCours > a{
	color: black;
	text-decoration: none;
}
.clearBoth { clear:both; }

.info-cours{
  display: block;
  background-color: #effaff;
  width: 20%;
  padding: 20px;
  margin-left: 40px;
  border-radius: 5px;
  color: black;
  border: solid 1px #64b7f5;
  margin-bottom: 10px;
}
.cours-ecrit{
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}
.container-button{
  text-align: center;
  margin: 20px;
}
#bQCM, #buttonQuestion{
  font-size: 1.3em;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #64b7f5;
  background-color: #effaff;
  border-radius: 5px;
}
#bQCM:hover,
#bQCM:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #64b7f5;
  transform: translateY(-0.25em);
}
.difficulte{
  padding-left: 10%;
  font-size: 1.3em;
}
.question-container{
  margin-left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 100px;
  margin-top: 100px;
}
#question{
  text-align: left;
}
.enonce{
  padding: 10px;
  background-color: #effaff;
  border: solid 1px #64b7f5;
  border-radius: 5px;
}
#buttonQuestion{
  margin-top: 20px;
  margin-left:50%  ;
  transform: translate(-50%,0);
}
#buttonQuestion:hover{
  box-shadow: inset 13em 0 0 0 #64b7f5 ;
}
html, body {
  height: 100%;
  margin: 0;
}
#contenu {
    min-height: calc(100vh - 300px);
}
.footer{
      height: 100px;
}
.comboBox{
  margin: 20px;
}

.wrong{
  background-color: #ff4f4f66;
  margin: 10px;
  padding: 20px;
  border: solid 2px red;
  border-radius: 5px;
}
.good{
  margin: 10px;
  padding: 20px;
  background-color: #2fb52f3b;
  border: solid 2px green;
  border-radius: 5px;
}
/* login page */

.login > div{
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.login{
  margin: 100px;
  text-align: center;
}
.login > button{
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #64b7f5;
  border: solid 1px black;
  border-radius: 5px;
  transition: 0.50s;
}
.login > button:hover , .login > button:focus{
  border-radius: 30px;
  background-color: white;
}

#oButton{
  background-color: orange;
}

#bButton{
  background-color: #8fcfffab;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 255, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 225, 1);
}

/*Vue listeMatieresForum*/
.appercuMatiere {
  background-color: #8fcfffab;
	width: 60%;
	margin: 10px;
	float: left;
	border-radius: 1px;
	border: solid 1px #64b7f5;
	box-shadow: 2px 2px 5px #64b7f5;
	padding-left: 80px;
  transition: background-color 1s;
}

.appercuMatiere > a {
	color: white;
	text-decoration: none;
}

.appercuMatiere:hover {
  background-color: rgba(200, 200, 255, 1);
  box-shadow: 2px 2px 50px #64b7f5;
}
/*FIN Vue listeMatieresForum*/

/*Vue ListeSujetsForum*/
.appercuSujet {
  background-color: #8fcfffab;
	width: 60%;
	margin: 10px;
	float: left;
	border-radius: 1px;
	border: solid 1px #64b7f5;
	box-shadow: 2px 2px 5px #64b7f5;
	padding-left: 80px;
  transition: background-color 1s;
}

.appercuSujet > a {
	color: white;
	text-decoration: none;
}

.appercuSujet:hover {
  background-color: rgba(200, 200, 255, 1);
  box-shadow: 2px 2px 50px #64b7f5;
}
/*FIN Vue ListeSujetsForum*/

/*Vue SujetDetails*/
.appercuReponse {
	position: relative;
	background-color: #8fcfffab;
	width: 60%;
	margin: 20px;
	border-radius: 1px;
	border: solid 1px #64b7f5;
	box-shadow: 2px 2px 5px #64b7f5;
	padding-left: 10px;
}

.appercuReponse > a {
	color: white;
	text-decoration: none;
}

#sujet-container{
  position: relative;
	background-color: #6fcfffab;
	width: 40%;
	margin: 50px;
	border-radius: 5px;
	border: solid 3px #64a2d1;
	box-shadow: 2px 2px 10px #64b7f5;
	padding-left: 10px;
}

p {
  color: black;
}

h3 {
  color: black;
}

section{
  color: black;
  }

div {
  color: black;
}
